body {
    background-color: #ffffff;
}

main {
    margin: 25px;
}

#date-box {
    font-family: 'Velino Display Book';
    /* border-bottom: 1px solid #3e3e3e; */
    font-size: 10px;
    height: 20px;
    padding: 15px 25px;
    /* background-color: #ffe8e8; */
    /* background-color: #3e3e3e; */
    display: flex;
    align-items: center;
    justify-content: right;
    color: #000000;
}

#logo-box {
    height: 90px;
    padding: 0px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    height: 50px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    margin: 2px 10px;
    padding: 0px 15px;
    font-family: 'Velino Display Medium';
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;
}

svg {
    height: 60px;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#path1 {
    /* fill: #d43434; */
    fill: #ffa500;
}

#path2 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* fill: #3e3e3e; */
    fill: #000000;
}

hr {
    border: inherit;
}

hr.simple {
    content: "";
    background: #d1d1d1;
    display: block;
    height: 1px;
    width: 100%;
    margin: 3px 0;
}

hr.double::before {
    content: "";
    background: #d1d1d1;
    display: block;
    height: 1px;
    width: 100%;
    margin: 3px 0;
}

hr.double::after {
    content: "";
    background: #d1d1d1;
    display: block;
    height: 1px;
    width: 100%;
    margin: 3px 0;
}

h1 {
    font-family: 'Velino Display Bold';
    font-size: 40px;
    color: #000000;
    line-height: 48px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: 'Velino Display Medium';
    font-size: 24px;
    color: #000000;
    line-height: 24px;
    margin-bottom: 50px;
}

h3 {
    font-family: 'Velino Display Book';
    font-size: 18px;
    color: #000000;
    line-height: 24px;
    margin-bottom: 50px;
    display: flex;
}
  
label {
    display: flex;
    flex-direction: column;
    width: 30px;
    cursor: pointer;
}
  
label span {
    background: #000000;
    border-radius: 10px;
    height: 4px;
    margin: 2px 0;
    transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

span:nth-of-type(1) {
    width: 100%;
}

span:nth-of-type(2) {
    width: 100%;
}

span:nth-of-type(3) {
    width: 100%;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked ~ span:nth-of-type(1) {
    transform-origin: center;
    transform: rotate(45deg) translate(5.6px, 5.6px);
}

input[type="checkbox"]:checked ~ span:nth-of-type(2) {
    transform-origin: center;
    transform: rotate(-45deg);
}

input[type="checkbox"]:checked ~ span:nth-of-type(3) {
    transform-origin: center;
    transform: rotate(45deg) translate(-5.7px, -5.7px);
}

figure {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

figure img {
    width: 150px;
}

p {
    font-family: 'Velino Display Medium';
    font-size: 16px;
    color: #000000;
}

.webs {
    margin: 50px 0px;
}

.webs a {
    font-family: 'Velino Display Bold';
    font-size: 22px;
    color: #000000;
    text-decoration: none;
}

.webs img {
    margin: 15px 0px;
}

.webs p {
    font-family: 'Velino Display Book';
    font-size: 16px;
    color: #000000;
    margin-bottom: 10px;
}

footer {
    border-top: 1px solid #000000;
    margin: 2px 10px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#articulo-original::before {
    content: "•";
    display: inline-block;
    transform: scale(1.2);
    margin-right: 5px;
}

#articulo-original {
    font-family: 'Velino Display Light';
    font-size: 14px;
    color: #000000;
    text-decoration: none;
    margin: 15px;
}

#copyright {
    margin: 15px;
    font-family: 'Velino Display Light';
    font-size: 10px;
    color: #000000;
}